
$white: #ffffffff;
$lightBlue: #336;
$darkBlue: #220E24;

// bgs
$textBGdark: rgba(34, 14, 36, 0.87);
$textBGlight: rgba(51, 51, 102, 0.73);
$photoFilter: rgba(51, 51, 102, 0.60);

// gradients 
$defaultGradient: linear-gradient(135deg,$darkBlue  0%,$lightBlue  100%);
$defaultGradient2: linear-gradient(45deg, #220E24 0%, #336 100%);

// shadows
$defaultBoxShadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.25);
$glowingShadow: 0px 0px 5.849999904632568px 0px #FFF, 0px 0px 11.699999809265137px 0px #FFF, 0px 0px 40.95000076293945px 0px #FFF, 0px 0px 81.9000015258789px 0px #FFF, 0px 0px 140.39999389648438px 0px #FFF, 0px 0px 245.6999969482422px 0px #FFF;

//mixins font part 
@mixin navbartext {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    margin: 0vw 2.448vw 0vw 2.448vw;
}

// all main p 
@mixin text {
    font-size: clamp(0.625rem,0.781vw,1.8744rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

// about h2
@mixin about {
    font-size: clamp(1rem,1.667vw,4.0008125rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// home h1
@mixin home {
    font-size: clamp(1rem,2.083vw,4.9991875rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// card heading
@mixin cardheading {
    font-size: clamp(0.75rem ,0.938vw,2.2511875rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// about h3
@mixin abouth3 {
    font-size: clamp(0.6875rem,1.042vw,2.5008125rem);
    font-style: italic;
    font-weight: 400;
}

// footer h4
@mixin footerHeading {
    font-size: clamp(0.9375rem,1.25vw,3rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// lines
@mixin divHR {
    background: $white;
    height: 0.052vw;
}



// mixins for tablet

// @mixin navbartextTB{
//     font-size: 1.918vw;
// }

// @mixin textTB{
//     font-weight: 400;
//     font-size: 1.559vw;
// }

// @mixin aboutTB{
//     font-size: 3.597vw;
// }

// @mixin homeTB{
//     font-size: 3.837vw;
// }

// @mixin cardheadingTB{
//     font-size: 1.799vw !important;
// }

// @mixin abouth3TB{
//     font-size: 2.398vw;
// }

// @mixin footerHeadingTB{
//     font-size: 2.398vw !important;
// }

// @mixin divHRTB{
//     font-size: 0.12vw;
// }
