
$white: #ffffffff;
$lightBlue: #336;
$darkBlue: #220E24;

// bgs
$textBGdark: rgba(34, 14, 36, 0.87);
$textBGlight: rgba(51, 51, 102, 0.73);
$photoFilter: rgba(51, 51, 102, 0.60);

// gradients 
$defaultGradient: linear-gradient(135deg,$darkBlue  0%,$lightBlue  100%);
$defaultGradient2: Slinear-gradient(45deg, #220E24 0%, #336 100%);

// shadows
$defaultBoxShadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.25);
$glowingShadow: 0px 0px 5.849999904632568px 0px #FFF, 0px 0px 11.699999809265137px 0px #FFF, 0px 0px 40.95000076293945px 0px #FFF, 0px 0px 81.9000015258789px 0px #FFF, 0px 0px 140.39999389648438px 0px #FFF, 0px 0px 245.6999969482422px 0px #FFF;

