@import 'colors.scss';

#home{
    background: $defaultGradient;
    .home-wraper{
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 3.646vw;
        article{
            background: $textBGdark;
            box-shadow: $defaultBoxShadow;
            width: 28.698vw;
            height: 16.771vw;
            z-index: 80;
            position: relative;
            left: 16.094vw;
            padding: 1.979vw;
            h1{
                @include home;
                margin-left: 1.042vw;
            }
            p{
                @include text;
                padding-bottom: 1.823vw;
                padding-top: 0.521vw;
                margin-left: 1.042vw;
            }
            a{
                color: $white;
                text-decoration: none;
                border: 0.052vw solid $white;
                padding: 0.365vw 0.833vw 0.365vw 0.833vw;
                margin-left: 1.042vw;
            }
        }
        .img{
            position: relative;
            right: 14.583vw;
            z-index: 30;
            width: 7.813vw;
            height: auto;
        }
    }
}   