@import 'colors.scss';

#services{
    background: $defaultGradient;
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img{
        position: absolute;
        width: 100%;
        max-height: 100vh;
    }
    .card-wraper2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 5.365vw;
    }
    .card-wraper{
        width: 82.604vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 5.365vw;
        margin: 0 auto;
        .card{
            position: relative;
            width: 16.771vw;
            height: 22.375vw;
            background: $textBGdark;
            -webkit-box-shadow: $defaultBoxShadow;
                    box-shadow: $defaultBoxShadow;
            .card-heading{
                padding-top: 3.073vw;
                padding-bottom: 3vw;
                height: 3.125vw;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 0.833vw;
                margin: 0 auto;
                img{
                    width: 1.823vw;
                    height: auto;
                    position: static;
                }
                width: 13.542vw;
                h3{
                    @include cardheading;
                }
                .ll{
                    font-size: clamp(0.75rem,0.885vw,2.124rem);
                }
            }
            p{
                margin: 0 auto;
                @include text;
                max-width: 13.125vw;
                text-align: center;
                line-height: 1.4vw;
            }
        }
    }
}
 
// tablet
@media screen and (max-width: 1025px){
    #services{
        .card-wraper2{
            display: block;
        }
        .card-wraper{
            width: 69.185vw;
            margin-bottom: 4vw;
            .card{
                margin-top: 7.554vw;
                width: 29.616vw;
                height: 43.046vw;
                .card-heading{
                    width: 26.499vw;
                    padding-top: 5vw;
                    padding-bottom: 4vw;
                    img{
                        width: 3.717vw;
                        height: auto;
                    }
                }
                p{
                    max-width: 24.499vw;
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: 660px){
    .card-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 15vw !important;
        .card-wraper2{
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .card{
                margin: 0 auto;
                width: 66.250vw !important;
                height: 66.563vw !important;
                p{
                   display: none;
                }
                .card-heading{
                    width: 100% !important;
                    height: auto;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    text-align: center;
                    position: relative;
                    top: 10vw;
                    h3{
                        width: 56.250vw !important;
                    }
                    img{
                        width: 13vw !important;
                    }
                }
            }
        }
    }
}