.mySwiper{
    height: 31.51vw;
    width: 50.688vw;
    z-index: 20;
    position: relative;
    right: 5.208vw;
    img{
        position: static;
        width: 50.688vw;
        height: 31.51vw;
    }
}
.swiper-button-next{
    display: none;
}
.swiper-button-prev{
    display: none;
} 

@media screen and (max-width: 1025px){
    .mySwiper{
        width: 100vw !important;
        height: auto;
        right: 0;
        img{
            width: 100vw !important;
            height: inherit;
        }
    }
}

@media screen and (max-width: 660px){
    .mySwiper{
       height: 125vw !important;
       width: auto;
       img{
        height: 125vw;
        width: auto !important;
       }
    }
}