.mySwiper{
    height: 31.51vw;
    width: 50.688vw;
    z-index: 20;
    position: relative;
    right: 5.208vw;
    img{
        position: static;
        width: 50.688vw;
        height: 31.51vw;
    }
}
.swiper-button-next{
    display: none;
}
.swiper-button-prev{
    display: none;
} 